<h3>Welcome</h3>

<%= link_to 'New Entry', new_entry_path %></br></br>
<%= link_to 'New school', new_school_path %></br>
<%= link_to 'New show', new_show_path %></br>
<%= link_to 'New host', new_host_path %></br>

<h4>See All</h4>
<%= link_to 'The Week Ahead Entries', controller: 'entries' %></br></br>
<%= link_to 'Schools', schools_path %></br>
<%= link_to 'Shows', shows_path %></br>
<%= link_to 'Hosts', hosts_path %></br>