<h1>Listing entries</h1>

<%= link_to 'New entry', new_entry_path %>
 
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>
 
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.title %></td>
      <td><%= entry.description %></td>
    <td><%= link_to 'Show', entry_path(entry) %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<pre>
<xmp>
 <% @entries.each do |entry| %>
    <!-- ************************************* START ENTRY ************************************* -->
    <hr />
    <div class="PROGRAM_WRAP">
      <div class="SHOW_LOGO_WRAP">
        <%= entry.show_name_va.present? ? image_tag("#{entry.show_image}") : "" %>
      </div>
      
      <div class="SCHOOL_LOGO_WRAP">
        <% if entry.away_team.present? %>
          <%= image_tag("#{entry.school_logo(entry.away_team)}", class: "SCHOOL_LOGO", alt:"#{entry.school_name(entry.away_team)}")%>
        <% else %>
          &nbsp
        <% end %>
      </div>
    
      <div class="PROGRAM_TITLE_INSIDE">
        <p>
          <strong>
            <% if entry.event_url.present? %>
              <%= link_to("#{entry.title}", "#{entry.event_url}") %>
            <% else %>
              <%= link_to("#{entry.title}", "#{entry.show_url}") %>
            <% end %>
          </strong>
          
          <% if entry.hash_tag.present? %>
            <br />
            <%= link_to("##{entry.hash_tag}", "https://twitter.com/hashtag/#{entry.hash_tag}?src=hash") %>
          <% end %>
            <br />
            <%= entry.show_time %>
          
          Announcers:
            <% if entry.announcer1.present? %>
              <%= entry.host_bio_url(entry.announcer1).blank? ? "#{entry.host_name(entry.announcer1)}" : link_to("#{entry.host_name(entry.announcer1)}","#{entry.host_bio_url(entry.announcer1)}") %> <%= link_to("(#{entry.host_twitter(entry.announcer1)})", "https://www.twitter.com/#{entry.host_twitter(entry.announcer1)}") unless entry.host_twitter(entry.announcer1).blank? %>
            <% end %>

            <% if entry.announcer2.present? %>
              , <%= entry.host_bio_url(entry.announcer2).blank? ? "#{entry.host_name(entry.announcer2)}" : link_to("#{entry.host_name(entry.announcer2)}", "#{entry.host_bio_url(entry.announcer2)}") %> <%= link_to("(#{entry.host_twitter(entry.announcer2)})", "https://www.twitter.com/#{entry.host_twitter(entry.announcer2)}") unless entry.host_twitter(entry.announcer2).blank? %>
            <% end %>

            <% if entry.announcer3.present? %>
              , <%= entry.host_bio_url(entry.announcer3).blank? ? "#{entry.host_name(entry.announcer3)}" : link_to("#{entry.host_name(entry.announcer3)}", "#{entry.host_bio_url(entry.announcer3)}") %> <%= link_to("(#{entry.host_twitter(entry.announcer3)})", "https://www.twitter.com/#{entry.host_twitter(entry.announcer3)}") unless entry.host_twitter(entry.announcer3).blank? %>
            <% end %>

            <% if entry.announcer4.present? %>
              , <%= entry.host_bio_url(entry.announcer4).blank? ? ", #{entry.host_name(entry.announcer4)}" : link_to("#{entry.host_name(entry.announcer4)}", "#{entry.host_bio_url(entry.announcer4)}") %> <%= link_to("(#{entry.host_twitter(entry.announcer4)})", "https://www.twitter.com/#{entry.host_twitter(entry.announcer4)}") unless entry.host_twitter(entry.announcer4).blank? %>
            <% end %>
        </p>
      </div>
  
      <div class="SCHOOL_LOGO_WRAP">
        <% if entry.home_team.present? %>
          <%= image_tag("#{entry.school_logo(entry.home_team)}", alt:"#{entry.school_name(entry.home_team)}", class:"SCHOOL_LOGO")%>
        <% else %>
          &nbsp
        <% end %>
      </div>

      <% if entry.description.present? %>
        <p class="PROGRAM_DESCRIPTION"><%= entry.description %></p>
      <% end %>
    </div>
    <!-- ************************************* END ENTRY *************************************** -->

  <% end %>
</xmp>
</pre>
