<%= form_for @host do |f| %>
  <% if @host.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@host.errors.count, "error") %> prohibited
      this host from being saved:</h2>
    <ul>
    <% @host.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </p>
 
  <p>
    <%= f.label :bio_url %><br>
    <%= f.text_field :bio_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>