<%= form_for @school do |f| %>
  <% if @school.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@school.errors.count, "error") %> prohibited
      this school from being saved:</h2>
    <ul>
    <% @school.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </p>
 
  <p>
    <%= f.label :abbreviation %><br>
    <%= f.text_field :abbreviation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>